/*
#3674B5	
#F5F0CD	
#578FCA	
#FADA7A
*/


body {
    background-color: #F5F0CD;
    margin: 0;
    display: grid;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: grid;
    background-color: #3674B5;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: "Playfair Display";
}

p {
    font-family: "Lato";
}

nav, nav a{
    color: #F5F0CD; 
    font-family: "Lato";
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 35px;
}

div {
    display: grid;
    padding: 30px;
    /* outline: 1px solid red; */
}

#logo {
    height: 100px;
    width: 100px;
    padding: 15px;
}

#Moments {
    background-size: cover;
    background-image: url("../images/sunset_temple.jpg");
    background-position: center; 
    color:#F5F0CD;
    grid-template-columns: 1fr 2fr;
    gap: 20px
}

#Moments img {
    width: 50%;
}

#Moments_text {
    width: auto;
}

#About_me {
    background-color: #F5F0CD;
    color: #578FCA;
    grid-template-columns: 1fr 1fr;
    gap: 20px
}

#About_img {
    padding: 0px;
}

#About_me img {
    padding: 0px;
    width: 250px;
    justify-self: center;
}

#Review {
    background-color: #3674B5;
    padding: 30px;
    color: #F5F0CD;
}

#Portfolio {
    background-color: #578FCA;
    color:#F5F0CD;
}

#Portfolio_photos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 0;
}

#Portfolio img {
    width: 300px;
}

#Contact {
    background-color: #3674B5;
    color:#F5F0CD;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

form {
    font-family: "Lato";
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 10px
}

form input {
    border: 0px;
}

.subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0px;
    align-self: center;
}

textarea {
    font-family: "Lato";
    grid-column: span 2;
}

::placeholder {
    color: #578FCA;
}

footer img {
    height: 100px;
    width: 100px;
    padding: 10px;
}